*,
body
{
    margin: 0;
    padding: 0;
}

#header{
    background-color: rgb(59, 54, 54);
    position: fixed;
    width: 100%;
}

#header-img{
    height: 50px;
    display: inline-block;
    margin: 0;
    padding: 0;
}

 #header h3{
    display: inline-block;
    margin-left: 10px;
    text-align: center;
    font-size: 1.1em;
    color: honeydew;
}

 #nav-bar{
    display: inline-block;
    float: right;
    overflow: hidden;
    float: right;
    font-size: .8em;
    text-align: center;
}
/* 
#nav-bar ul{
    display: inline-block;
} */

#nav-bar ul li{
    display: inline-block;
    font-size: 1.7em;
    text-indent: 1.3em;    
}

#nav-bar a{
    display: inline-block;
    float: right;
    color: rgb(243, 240, 240);
    /* background-color: blue; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#page-wrapper{
    padding: 5% 15%;
    padding-bottom: 5px;

}

.hero{
    margin: auto;
    width: 50%;
    padding-bottom: 40px;
}

.form{
    padding: 1em;
    
}

#email{
    display: block;
    padding: 6px 40px 6px 6px;
    margin-bottom: 10px;
    border-radius: 4px;
}

#submit{
    display: block;
    padding: 10px;
    border-radius: 4px;
    background-color: yellow;
    font-weight: bold;

}

.grid{
    display: grid;
    grid-template-columns: 10% 1fr;
    padding-bottom: 2em;

}

.grid .icon{
    color: rgb(104, 95, 235);
}

#video{
    width: 70%;
    padding: 5% 20%;
}

#price{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    padding: 2% 5%;
}

.product{
    width: 30%;
    font-size: 1.2em;
    
}

.product .level{
    padding-bottom: 12px;

}

.product ol li{
 list-style: none;
 padding-top: 8px;
}

.btn{
    padding: 5% 10%;
    margin-top: 20px;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
    background-color: hotpink;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
}

footer{
    padding-top: 20px;
    margin-top: 40px;
    direction: rtl;

}

footer ul{
    display: flex;
    flex-direction: row;
}
footer ul li{
    list-style: none;
    padding-top: 15px;
    padding-right: 20px;
    font-size: large;
}

.copyright{
    margin-top: 10px;
}

