*{
    padding: 0;
    margin: 0;
}

#main{
    background-color: rgba(235, 235, 235, 0.863);
}

#title{
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 50px;
    text-align: center;
    background-color: rgba(243, 242, 242, 0.863);

}
#title p{
    margin-top: 10px;
}

#img-div{
    background-color: #fff;
    padding: 20px 0;
    margin: 10px;
}

#image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 50%;
}

#img-caption p{
    text-align: center;
    padding: 0 25% ;
    margin-top: 10px;
    
}

#tribute-info{
    padding: 0 300px;
    margin-top:  60px;
}

#tribute-info h2{
    font-weight: 30px;
    margin-bottom: 50px;
}

#tribute-info ul{
    line-height: 20px;
    
}

#tribute-info li{
    margin-bottom: 20px;
}
 q{
    font-weight: 30px;
    margin-bottom: 10px;
    /* padding: 100px 0; */
}

.after-quat{
    margin-top: 10px;
}

#footer{
    padding-bottom: 40px;
    margin: 40px 30px;
}

#tribute-link h4{
    padding-bottom: 30px;
    margin: 0 100px;
}